@import url("https://fonts.googleapis.com/css?family=Roboto");
@font-face {
  font-family: 'Streamster';
  font-style: normal;
  src: url("./fonts/Streamster.ttf"); }

@font-face {
  font-family: 'Prism';
  src: url("./fonts/Prism-Regular.otf"); }

html {
  font-size: 62.5%; }

h1:hover, h1 span:hover, h2:hover, h2 span:hover, .streamster-title .prism-title:hover {
  cursor: default; }

@media (max-width: 1600px) {
  .home-header-part-2 {
    top: -13vw; } }

@media (max-width: 1367px) {
  html {
    font-size: 50%; }
  .home-container {
    width: 80vw; } }

@media (max-width: 1024px) {
  html {
    font-size: 45%; }
  .home-container {
    width: 90vw; }
  .home-header-part-2 {
    top: -14vw; } }

@media (max-width: 767px) {
  html {
    font-size: 35%; }
  .home-container {
    width: 95vw; } }

@media (max-width: 400px) {
  html {
    font-size: 25%; } }

body {
  overflow-x: hidden; }

a {
  text-decoration: none !important; }

.background {
  background-image: linear-gradient(rgba(255, 255, 255, 0.04) 50%, rgba(0, 0, 0, 0.5) 50%);
  background-size: 4px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  pointer-events: none;
  animation: blink 6s infinite; }

@-webkit-keyframes blink {
  0%, 40%, 70%, 100% {
    opacity: .5; }
  20%, 60%, 80% {
    opacity: .2; } }

.home-header-part-2 {
  animation: glow 10s infinite, shutdown 10s infinite step-end; }

@-webkit-keyframes glow {
  48% {
    text-shadow: 0 0 0 #00DEFF, 0 0 5px #450100, 0 0 15px #00DEFF, 0 0 30px #450100; }
  49% {
    text-shadow: none; }
  50% {
    text-shadow: 0 0 0 #00DEFF, 0 0 5px #450100, 0 0 15px #00DEFF, 0 0 30px #450100; }
  59% {
    text-shadow: 0 0 0 #00DEFF, 0 0 5px #450100, 0 0 15px #00DEFF, 0 0 30px #450100; }
  60% {
    text-shadow: none; }
  61% {
    text-shadow: 0 0 0 #00DEFF, 0 0 5px #450100, 0 0 15px #00DEFF, 0 0 30px #450100; }
  100% {
    text-shadow: 0 0 10px #00DEFF, 0 0 25px #450100, 0 0 50px #00DEFF, 0 0 75px #450100; } }

@-webkit-keyframes shutdown {
  44.5% {
    color: #00DEFF; }
  49% {
    color: #000; }
  50% {
    color: #00DEFF; }
  59% {
    color: #000; }
  60% {
    color: #00DEFF; } }

/* --------------------------------------------
   HOME PAGE-----------------------------------
   --------------------------------------------*/
.home-container {
  width: 70vw;
  max-width: 1170px;
  margin: auto; }

.home-headers-container {
  min-height: 450px; }

.home-header-part-1 {
  font-family: "Prism", sans-serif;
  padding: 1rem;
  color: #FB00EE;
  text-shadow: 0 0 0px #FB00EE, 0 0 5px #450100, 0 0 15px #FB00EE, 0 0 30px #450100;
  letter-spacing: 10px;
  font-size: 6.6rem;
  transition: text-shadow 0.4s ease-in;
  z-index: 11;
  margin: unset;
  top: 12rem;
  position: relative;
  max-height: 27rem; }

.home-header-part-1:hover {
  text-shadow: 0 0 10px #FB00EE, 0 0 25px #450100, 0 0 50px #FB00EE, 0 0 75px #450100; }

.home-header-part-2 {
  font-family: "Streamster", sans-serif;
  font-size: 10rem;
  color: #00DEFF;
  letter-spacing: 5px;
  position: relative;
  display: block;
  transform: rotate(-10deg);
  text-shadow: 0 0 10px #00DEFF, 0 0 25px #450100, 0 0 50px #00DEFF, 0 0 75px #450100;
  transition: text-shadow 0.4s ease-in;
  z-index: 12;
  margin: unset;
  top: -11vw;
  left: 52rem; }

/*
.home-header-part-2:hover {
  text-shadow:
    0 0 10px #00DEFF,
    0 0 25px #450100,
    0 0 50px #00DEFF,
    0 0 75px #450100;
}*/
.explanation-container h2 {
  font-family: "Prism", sans-serif;
  font-size: 3rem;
  color: #fff; }

.home-button-container {
  display: flex;
  justify-content: space-between; }

.button {
  background: #FB00EE;
  position: relative;
  color: #fff;
  text-decoration: none;
  width: 20rem;
  height: 10rem;
  font-family: "Prism", sans-serif;
  text-align: center;
  font-size: 2.8rem;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: 0 0 0px #FB00EE, 0 0 5px #450100, 0 0 15px #FB00EE, 0 0 30px #450100;
  display: flex;
  transition: box-shadow 0.4s ease-in; }

.button:hover {
  box-shadow: 0 0 5px #FB00EE, 0 0 15px #450100, 0 0 30px #FB00EE, 0 0 60px #450100; }

.button h3 {
  margin: auto; }

.footer {
  width: 100vw;
  height: 5vh;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: flex-end;
  padding-right: 15rem;
  align-items: center;
  transition: all 300ms ease-out; }
  .footer:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8); }
  .footer p {
    margin: 0;
    font-family: "Prism", sans-serif;
    font-weight: bold;
    font-size: 2rem; }

.footer-open {
  height: 50vh;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center; }

/* --------------------------------------------
   ALBUM PAGE-----------------------------------
   --------------------------------------------*/
.Album-Page {
  position: absolute;
  top: 0px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  /*album-page-global-album-container*/ }
  .Album-Page .Album-Page-Header {
    color: #fff;
    background: #00DEFF;
    box-shadow: 50vw 0vw 10vw -1vw #FB00EE inset;
    width: 100%;
    font-size: 1rem;
    text-align: center;
    transition: background 0.3s ease-in;
    cursor: pointer; }
    .Album-Page .Album-Page-Header:hover {
      background: #FB00EE; }
    .Album-Page .Album-Page-Header h1 {
      font-family: "Prism", sans-serif;
      margin: 0; }
      .Album-Page .Album-Page-Header h1:hover {
        cursor: pointer; }
      .Album-Page .Album-Page-Header h1 span {
        font-family: "Streamster", sans-serif;
        font-size: 3.4rem; }
        .Album-Page .Album-Page-Header h1 span:hover {
          cursor: pointer; }
  .Album-Page .album-page-ecouter-container {
    width: 80vw;
    margin: auto;
    display: flex;
    animation: fadein 400ms ease-in; }
    .Album-Page .album-page-ecouter-container .streamster-title {
      font-family: "Streamster", sans-serif;
      font-size: 9rem;
      color: #00DEFF;
      letter-spacing: 5px;
      transform: rotate(-7deg);
      margin: 4rem 0 0 0;
      text-shadow: 0 0 0 #00DEFF, 0 0 5px #450100, 0 0 15px #00DEFF, 0 0 30px #450100;
      transition: text-shadow 0.4s ease-in;
      z-index: 10;
      font-weight: bold; }
      .Album-Page .album-page-ecouter-container .streamster-title:hover {
        cursor: default;
        text-shadow: 0 0 10px #00DEFF, 0 0 25px #450100, 0 0 50px #00DEFF, 0 0 75px #450100; }
  .Album-Page .album-page-global-album-container {
    width: calc(1040px + 15vw);
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    /*album-page-container */
    /*album-page-choice-container*/ }
    .Album-Page .album-page-global-album-container .back-button-container {
      height: 340px;
      display: flex;
      flex-flow: column;
      justify-content: space-evenly; }
      .Album-Page .album-page-global-album-container .back-button-container .back-button {
        width: 10rem;
        border-radius: 50%;
        font-weight: bold;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5rem; }
    .Album-Page .album-page-global-album-container .Album-Page-Container {
      display: flex;
      width: 700px;
      justify-content: space-between;
      flex-direction: column;
      /* album-content-container */ }
      .Album-Page .album-page-global-album-container .Album-Page-Container .album-content-header-background {
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        position: relative; }
        .Album-Page .album-page-global-album-container .Album-Page-Container .album-content-header-background .prism-title {
          display: block;
          font-family: "Prism", sans-serif;
          color: #FB00EE;
          text-shadow: 0 0 0px #FB00EE, 0 0 5px #450100, 0 0 15px #FB00EE, 0 0 30px #450100;
          letter-spacing: 3px;
          font-size: 4rem;
          margin: 2rem 0 1rem 5rem;
          line-height: 3.5rem;
          font-weight: bold; }
          .Album-Page .album-page-global-album-container .Album-Page-Container .album-content-header-background .prism-title span {
            font-size: 2rem;
            text-shadow: none; }
        .Album-Page .album-page-global-album-container .Album-Page-Container .album-content-header-background .streamster-title {
          font-family: "Streamster", sans-serif;
          font-size: 4rem;
          color: #00DEFF;
          position: absolute;
          text-transform: uppercase;
          letter-spacing: 5px;
          transform: rotate(-6deg);
          text-shadow: 0 0 0 #00DEFF, 0 0 5px #450100, 0 0 15px #00DEFF, 0 0 30px #450100;
          margin: 0;
          top: 4rem;
          left: 22rem;
          width: 100%; }
      .Album-Page .album-page-global-album-container .Album-Page-Container .album-content-container {
        display: flex;
        justify-content: space-between; }
        .Album-Page .album-page-global-album-container .Album-Page-Container .album-content-container .album-cover img {
          width: 340px;
          height: 340px; }
        .Album-Page .album-page-global-album-container .Album-Page-Container .album-content-container .album-spotify-container {
          text-align: center; }
          .Album-Page .album-page-global-album-container .Album-Page-Container .album-content-container .album-spotify-container iframe {
            background: white; }
    .Album-Page .album-page-global-album-container .Album-Page-Container-minimized {
      width: 180px; }
    .Album-Page .album-page-global-album-container .album-page-choice-container {
      display: flex;
      flex-flow: column;
      justify-content: space-evenly;
      margin: 0px;
      height: 340px; }
      .Album-Page .album-page-global-album-container .album-page-choice-container .button-album-page {
        text-align: left;
        font-size: 1.8rem;
        width: 30rem;
        padding: 0.5rem;
        height: 7rem;
        cursor: pointer;
        font-weight: 600;
        text-transform: lowercase; }
        .Album-Page .album-page-global-album-container .album-page-choice-container .button-album-page p {
          margin: auto 0; }

/*album-page-global-container*/
/* --------------------------------------------
   ANIMATIONS-----------------------------------
   --------------------------------------------*/
.temporary-slide-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  width: 200vw;
  overflow-x: hidden; }

.transistion-slide-container {
  width: 100vw; }

.albumAnimationRight-enter {
  transform: translate(0vw); }

.albumAnimationRight-enter.albumAnimationRight-enter-active {
  transform: translate(-100vw);
  transition: transform 600ms ease; }

.albumAnimationRight-leave {
  transform: translate(0vw); }

.albumAnimationRight-leave.albumAnimationRight-leave-active {
  transform: translate(-100vw);
  transition: transform 600ms ease; }

.albumAnimationRight-appear {
  transform: translate(100vw); }

.albumAnimationRight-appear.albumAnimationRight-appear-active {
  transform: translate(0vw);
  transition: transform 600ms ease; }

.albumAnimationLeft-enter {
  transform: translate(-200vw); }

.albumAnimationLeft-enter.albumAnimationLeft-enter-active {
  transform: translate(-100vw);
  transition: transform 600ms ease; }

.albumAnimationLeft-leave {
  transform: translate(0vw); }

.albumAnimationLeft-leave.albumAnimationLeft-leave-active {
  transform: translate(100vw);
  transition: transform 600ms ease; }

.albumAnimationLeft-appear {
  transform: translate(100vw); }

.albumAnimationLeft-appear.albumAnimationLeft-appear-active {
  transform: translate(0vw);
  transition: transform 600ms ease; }

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 0px #FB00EE, 0 0 5px #450100, 0 0 15px #FB00EE, 0 0 30px #450100; }
  to {
    text-shadow: 0 0 10px #FB00EE, 0 0 25px #450100, 0 0 25px #FB00EE, 0 0 50px #450100; } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
